body, ul, li, a, h3, p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.main-container {
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
}

.header-container {
  font-family: sans-serif;
}

.link-containers {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.link {
  padding-left: 12px;
  padding-right: 12px;

  margin-right: 10px;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.content-container{
  padding: 10px;
  background-color: aliceblue;

  border: 1px solid lightgrey;
  /*border-radius: 5px;*/
}

.content-item {
  border: 1px solid lightgrey;
  border-radius: 5px;

  padding: 10px;
  margin-bottom: 2px;

  background-color: azure;

  display: flex;

}

.content-item a{
  text-decoration: none;
}

.content-item .content-score{
  padding: 10px;
  width: 3%;
}

.content-item img{
  height: 50px;
  width: 50px;
}

.content-item .content-inner{
  width: 100%;
  margin-left: 10px;
}
