/* style.css */
.className {
  color: green;
}

.header_container {
  font-family: sans-serif;
}

.link_containers {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.link {
  padding-left: 12px;
  padding-right: 12px;

  margin-right: 10px;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}


.content_container{
  padding: 10px;

  border: 1px solid lightgrey;
}

.content_item {
  /*border: 1px solid lightgrey;
  border-radius: 5px;*/

  padding: 10px;
  margin-bottom: 2px;

  display: flex;

}

.content_item_img{
  height: 50px;
  width: 50px;
}

.content_score {
  padding: 10px;
  width: 3%;
}

.content_inner{
  width: 100%;
  margin-left: 10px;
}
